asttokens==2.0.4
attrs==20.3.0
Automat==20.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
constantly==15.1.0
cryptography==3.3.1
cssselect==1.1.0
elasticsearch==7.10.1
executing==0.5.3
filelock==3.0.12
hnswlib==0.4.0
hyperlink==20.0.1
idna==2.10
importlib-metadata==3.3.0
incremental==17.5.0
iniconfig==1.1.1
itemadapter==0.2.0
itemloaders==1.0.4
jmespath==0.10.0
joblib==1.0.0
lightgbm==3.2.0
littleutils==0.2.2
lxml==4.6.2
numpy==1.19.4
nvidia-ml-py3==7.352.0
packaging==20.8
parsel==1.6.0
pluggy==0.13.1
Protego==0.1.16
protobuf==3.14.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.1
queuelib==1.5.0
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.4
Scrapy==2.4.1
sentence-transformers==0.3.9
sentencepiece==0.1.91
service-identity==18.1.0
six==1.15.0
sorcery==0.2.1
soupsieve==2.1
threadpoolctl==2.1.0
tokenizers==0.9.3
toml==0.10.2
torch==1.7.1
tqdm==4.54.1
transformers==3.5.1
Twisted==20.3.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
w3lib==1.22.0
wrapt==1.12.1
zipp==3.4.0
zope.interface==5.2.0
